<div class = "container-fluid">
  <div class = "show-wrapper col-md-8 offset-md-2">
    <span class = "user">
      <% if @question.user.image.attached? %>
        <%= image_tag @question.user.image,:size => '50x50',class: "profile-image" %>
      <% else %>
        <%= image_tag '/default_image.jpg',:size => '50x50',class: "profile-image"  %>
      <% end %>
      <%= link_to @question.user.name, @question.user %> が
      <%= l @question.created_at, format: :short %>に投稿
    </span>
    <span class = "title"><%= @question.title %></span>
    <div class = "content">
      <%= simple_format(@question.content) %>
      <%= image_tag @question.image,:size => '300x300',class: "question-image" if @question.image.attached? %>
    </div>
  </div>
</div>

