<div class = "container-fluid">
  <div class = "show-wrapper col-md-6 offset-md-3">
    <span class = "user">
      <% if @question.user.image.attached? %>
        <%= image_tag @question.user.image,:size => '50x50',class: "profile-image" %>
      <% else %>
        <%= image_tag '/default_image.jpg',:size => '50x50',class: "profile-image"  %>
      <% end %>
      <%= link_to @question.user.name, @question.user %> が
      <%= l @question.created_at, format: :short %>に投稿
    </span>
    <span class = "title"><%= @question.title %></span>
    <span class = "content">
      <%= @question.content %>
      <%= image_tag @question.image.variant(resize_to_limit: [500, 500]) if @question.image.attached? %>
    </span>
  </div>
</div>

