<div class = "container-fluid ">
  <% if !logged_in? %>
    <div class = "row mt-3">
      <div class= "title-wrapper blur-content offset-sm-2 col-sm-8 text-center">
              <h2>Sky Questは飛行訓練での知識・経験を</h2>
              <h2>質問・共有するためのサービスです</h2>
              <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-outline-info" %>
      </div>
    </div>
  <% end %> 
  <div class = "row">
    <div class = "questions-all offset-sm-2 col-sm-8">
      <% if @questions_searched.present? %>
        <ol class = "questions">
          <%= render @questions_searched %>
        </ol>
        <%= paginate @questions_searched %>
      <% elsif  !@questions_searched.nil? %>
        <p class = "text-center">キーワードに一致する記事が見つかりませんでした。</p>
      <% else %>
        <ol class = "questions">
          <%= render @questions %>
        </ol>
        <div class = "justify-content-center">
          <%= paginate @questions %>
        </div>
      <% end %>
    </div>
  </div>
</div>